<div class ="product-head">head</div>
<ul class = "item-list">
	<li>
		<a href="#"><img src="images/1.jpg" alt="img01">
			<h4 class ="head-list-1">รุ่น Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dum</h4>
			<p>ราคา : <span>500</span> ฿</p>
		</a>
	</li>
	<li>
		<a href="#"><img src="images/2.jpg" alt="img01">
			<h4>รุ่น Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
			<p>ราคา : <span>500</span> ฿</p>
		</a>
	</li>
	<li>
		<a href="#"><img src="images/3.jpg" alt="img01">
			<h4>รุ่น</h4>
			<p>ราคา : <span>500</span> ฿</p>
		</a>
	</li>
	<li>
		<a href="#"><img src="images/4.jpg" alt="img01">
			<h4>รุ่น</h4>
			<p>ราคา : <span>500</span> ฿</p>
		</a>
	</li>
</ul>
