<div class ="product-head">
	<h1>สินค้าแนะนำ</h1>
</div>
<ul class = "item-list">
	<li>
		<a href="#">
			<img src="images/1.jpg" alt="img01">
			<h4 class="description">รุ่น Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ips</h4>
			<h4 class="price">ราคา: 100฿</h4>
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="images/2.jpg" alt="img01">
			<h4 class="description">รุ่น</h4>
			<h4 class="price">ราคา: 100฿</h4>	
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="images/3.jpg" alt="img01">
			<h4 class="description">รุ่น</h4>
			<h4 class="price">ราคา: 100฿</h4>
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="images/4.jpg" alt="img01">
			<h4 class="description">รุ่น</h4>
			<h4 class="price">ราคา: 100฿</h4>
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
</ul>
<ul class = "item-list">
	<li>
		<a href="#">
			<img src="images/1.jpg" alt="img01">
			<h4 class="description">รุ่น Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ips</h4>
			<h4 class="price">ราคา: 100฿</h4>
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="images/2.jpg" alt="img01">
			<h4 class="description">รุ่น</h4>
			<h4 class="price">ราคา: 100฿</h4>	
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="images/3.jpg" alt="img01">
			<h4 class="description">รุ่น</h4>
			<h4 class="price">ราคา: 100฿</h4>
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="images/4.jpg" alt="img01">
			<h4 class="description">รุ่น</h4>
			<h4 class="price">ราคา: 100฿</h4>
			<button class="button"><span>BUY</span></button>
		</a>
	</li>
</ul>
