<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <% include ./header %>
    </header>
 <div class="container">
    <div ng-app="Product">
    	<h1>This is shop page</h1>
    	<div ng-controller = "ProductsController" ng-init ="listProduct()" class="">
   			<ul class = "item-list col-md-7 col-centered">
				<li ng-repeat="t in Topics" class="col-md-2 col-md-offset-0">
					<a href="#">
						<img ng-src="{{t.productImg}}" alt="img01">
						<h4 class="description">ชื่อ : {{t.productName}}</h4>
						<h4 class="price">ราคา: {{t.unitPrice}}</h4>
						<button class="button"><span>BUY</span></button>
					</a>
				</li>
			</ul>
    	</div>
    </div>
 </div><!-- container -->
 <footer>
    <% include ./footer %>
</footer>
</body>
<script type="text/javascript" src="./javascripts/jquery-1.12.4.js"></script>
<script type="text/javascript" src="./Itemslider/js/jquery.catslider.js"></script>
<script type="text/javascript" src="./javascripts/angular.js"></script>
<script type="text/javascript">
</script>
<script>
	var app = angular.module("Product",[]);
	app.controller("ProductsController",function($scope,$http){
		$scope.title = "Hello Webboard";
		$scope.Topics = [];
		$scope.Name = [];
		$scope.listProduct = function(){
			var url = "./product";
			$http.get(url).success(function(data){
			$scope.Topics = data;
			for(var i=0;i<$scope.Topics.length;i++){
				//console.log($scope.Topics[i].productName.length);
				if($scope.Topics[i].productName.length > 40){
					var productName = $scope.Topics[i].productName.substr(0, 40);
					console.log(productName);
					$scope.Topics[i].productName = productName+"...";
				}
			}
			console.log($scope.Topics);
			}).error(function(data){
				alert("Error");
			})
		}
	})
</script>
</html>