<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <% include ./header %>
    </header>
 <div class="container">
    <h1>This is shop page</h1>
 </div><!-- container -->
 <footer>
    <% include ./footer %>
</footer>
</body>
<script type="text/javascript" src="./javascripts/jquery-1.12.4.js"></script>
<script type="text/javascript" src="./Itemslider/js/jquery.catslider.js"></script>
<script type="text/javascript">
</script>
</html>