body {
  font-family: 'Kanit', sans-serif;
}
header{
	width: 100%;
}
hr{
	width: 1178px;
	height:5px;
	display: block;
	margin: 0 auto;
	border:none;color:#333;
	background-color:#333;
}
.product-head{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.product-head h1{
	text-align: center;
	font-size: 72px;
}
a:hover{
  color: #00B7FF;
  text-decoration: none;
}

.products .item-list{
	text-align: center;
	height: auto;
}
.products .item-list li{
	display: inline-block;
	width: 260px;
    height: 500px;
	padding: 20px 20px 20px 20px;
	vertical-align:top;
}
.products .item-list li a{
	width: 100%;
}
.products .item-list li a img{
	width: 220px;
	height: 220px;
	padding-bottom: 15px;
	border-bottom: 5px solid #a9a9a9;
}
.products .item-list li a .description{
	text-align: left;
	height: 80px;
	width: auto;
	color:black;
}
.products .item-list li a .price{
	text-align: left;
	color:black;
}
.products .item-list li a p{

}
.button {
	width: 100%;
    background-color: #1D2247;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span{
    transition: all 0.8s;
    padding-right: 25px;
}
.button:hover{
    background: #EB6361;
    transition: all 0.8s;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
footer{
    
}
